[submodule "abstract_classes"]
	path = abstract_classes
	url = https://github.com/Nanoptiqs/abstract_classes.git
[submodule "Peak_PCAN"]
	path = Peak_PCAN
	url = https://github.com/Nanoptiqs/Peak_PCAN.git
